* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'holygolden';
    src: url(fonts/HolyGolden.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    font-family: 'holygolden';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b3e51;
    color: white;
    width: 100%;
    height: 150px;
}


header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.4rem 1rem;
}

header nav ul li a:hover {
    background-color: #031c34;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b3e51;
    gap: 1rem;
    color: white;
    width: 100%;
}

footer nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

footer nav ul li {
    display: flex;
    display: flex;
}

footer nav ul li a {
    text-decoration: none;
    color: #4191ca;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

footer h3 {
    text-align: center;
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
}

main h1 {
    text-align: center;
}

#productsContainer {
    display: flex;
    flex-wrap: wrap;
    width: calc(70%);
    gap: 1rem;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 1rem);
    height: 400px;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.05);
}

.conteneur-img {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteneur-img img {
    width: 100%;
}

.description {
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.description h4 {
    color: #2b3e51;
        font-family: Arial, Helvetica, sans-serif;
}

.description p {
    color: #a1a8aa;
    font-family: Arial, sans-serif;
}

.description h5 {
    color: #24ad6f;
    font-size: 16px;
}

.div-button {

    display: flex;
    height: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.button1 {
    width: 50%;
    padding: 0.8rem 1rem;
    background-color: #3398d9;
    border: none;
    border-radius: 10px;
    color: white;
}

.button2 {
    width: 50%;
    padding: 0.8rem 1rem;
    background-color: #95a5a6;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.button1:hover {
    background-color: #0a4b73;
    cursor: pointer;
}

.button2:hover {
    background-color: #1e1e1e;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}


#modal-conteneur-img {
    overflow: hidden;
    width: calc(100% - 2rem);
    height: 40%;
    border-top: 1px solid #a1a8aa;
    margin: 1rem;
}

#modal-conteneur-img img {
    width: 100%;
}

#modal-description {
    text-align: center;
    padding: 1rem;
    height: 20%;
}

#modal-conteneur-titre {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}


#modal-conteneur-titre h4 {
    color: #2b3e51;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

#modal-fermer-x {
    border: none;
    font-size: 16px;
    font-weight: bold;
}

#modal-fermer-x:hover {
    color: red;
    cursor: pointer;
}

#modal-description p {
    color: #a1a8aa;
    font-family: Arial, sans-serif;
}

#modal-description h5 {
    color: #24ad6f;
    font-size: 16px;
}

#modal-fermer {
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    background-color: #3398d9;
    color: white;
    cursor: pointer;
}

#modal-fermer:hover {
    background-color: #0a4b73;
}



#favoris-message {
    position: fixed;
    top: 1rem;
    right: -300px;
    background-color: #24ad6f;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    z-index: 1005;
    opacity: 0;
    transition: right 0.6s ease, opacity 0.6s ease;
}

#favoris-message.show {
    right: 1rem;
    opacity: 1;
}

#favoris-message.hide {
    right: -300px;
    opacity: 0;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .conteneur-img {
        height: 45%;
    }
}